<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404.png" alt="ravi" class="img-fluid" title="ravi">
                        </figure>
                        <p>Welcome to Ravi Chodvadiya wrold</p>
                        <h1> {{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>    
    </div>   
    
    <!-- footer code -->
    
    {{>footer}}
</body>
</html>